################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arcade/.vs/Arcade/v15/Server/sqlite3
/Arcade/Arcade/bin/Debug/netcoreapp2.1
/Arcade/CodeSignalTests/bin/Debug/netcoreapp2.1
/Arcade/CodeSignalTests/obj/Debug/netcoreapp2.1
/.vs/codesignal/v15
/.vs
/Arcade/.vs/Arcade/v15
/Arcade/Arcade/obj/Debug/netcoreapp2.1
/Arcade/Arcade/obj
/Arcade/CodeSignalTests/obj
/Arcade/.vs/CodeSignal/v15/Server/sqlite3
/Arcade/.vs/CodeSignal/v15
/Arcade/SkillTests/bin/Debug/netcoreapp2.1
/Arcade/SkillTests/obj/Debug/netcoreapp2.1
/Arcade/SkillTests/obj
/Arcade/Challenges/bin/Debug/netcoreapp2.1
/Arcade/Challenges/obj/Debug/netcoreapp2.1
/Arcade/Challenges/obj
