################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arcade/.vs/Arcade/v15/Server/sqlite3
